@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: skyblue;
}

.container {
  width: 50%;
  background: white;
  padding: 8px;
  border-radius: 4px;
}

.video-container {
  padding: 6px;
  background: #000;
  border-radius: 4px;
  position: relative;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.volume-controllers {
  display: flex;
  align-items: center;
}

.btn {
  width: fit-content;
  height: fit-content;
  padding: 2px;
  cursor: pointer;
  background: #d3d3d3;
  border: none;
  border-radius: 4px;
  position: relative;
}

.material-icons {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  vertical-align: middle;
  padding-bottom: 0;
}

.controllers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

video:-webkit-full-screen::-webkit-media-controls,
video:-webkit-full-screen::-webkit-media-controls-enclosure {
  display: none;
}

.btn::before {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Add a smooth transition effect */
  bottom: 100%; /* Position above the button */
  left: 50%; /* Centered horizontally */
  transform: translateX(-50%);
  white-space: nowrap; /* Prevent tooltip from breaking into multiple lines */
  margin-bottom: 4px;
}

#playBtn::before {
  content: "Play Video"; /* Tooltip text */
}
#rewindBtn::before {
  content: "Rewind"; /* Tooltip text */
}
#forwardBtn::before {
  content: "Forward"; /* Tooltip text */
}

.btn:hover::before {
  opacity: 1; /* Show the tooltip on hover */
}
